<p>Hello everyone reading this! My name is RC Ackerman and I'm a web developer. I've done a bunch of different work, both freelance and in a normal day job like a professional. I created this site for a couple of reasons.</p><br />
<ol>
  <li>To learn some new languages:
    <ol>
      <li>Ruby on Rails</li>
      <li>jQuery</li>
      <li>CoffeeScript</li>
      <li>SASS</li>
    </ol>
  </li>
  <li>To start a blog, going through the things I learned and how I learned them, in case someone else is taking some of the same paths that I am.</li>
  <li>To advertise myself and what I can do. Most of this site is going to be a shameless plug.</li>
</ol><br />
<p>This site has taught me a lot about MVC that I wouldn't have learned otherwise. I enjoyed the experience of making it, and enjoy the idea that I can take these concepts and fan them out into other opportunities that I may have. I plan on using this site, in the future, to flex my design and development muscles and continue learning, because the learning is never really done if you do it right. Thank you for taking the time to read this little blurb about the website, and about myself!</p><br />
