<% title 'About Me' %>
<% description 'RC Ackerman is a web developer specializing in PHP and Ruby. Click here to learn more about him.' %>
<% keywords 'RC Ackerman webdev developer php ruby about' %>
<% set_meta_tags :author => "https://plus.google.com/+RCAckerman" %>

<%= render 'welcome/border' %>
<%= link_to(root_path) do %>
  <div id="home-button"> <- Home</div>
<% end %>

<div class="container" id="alt_container">
  <%= render 'aboutme' %>

  <%= render 'resume' %>
</div>
