<% title 'Blog' %>
<% description "RC Ackerman's blog goes over many things, from short web tutorials, updates on things he's working on, general coding thoughts, and even non-development related topics. Click here to read more." %>
<% keywords 'RC Ackerman webdev developer php ruby blog' %>
<% set_meta_tags :author => "https://plus.google.com/+RCAckerman" %>
<%= render 'welcome/border' %>
<%= render 'users' %>
<%= link_to(root_path) do %>
  <div id="home-button"> <- Home</div>
<% end %>

<div class="container" id="alt_container">
  <%= render 'article' %>
</div>
