<%= render 'welcome/border' %>
<%= render 'users' %>
<%= link_to(root_path) do %>
  <div id="home-button"> <- Home</div>
<% end %>

<div class="container" id="alt_container">
  <%= render 'article' %>
</div>
