<div id="h-bar"><div>RC Ackerman</div></div>
<div id="v-bar">
  <div>RC</div>
</div>
<%= image_tag("about_me.jpg", :width => 200, :height => 266, :crop => :fill, :top => 150, :left => 0, :id => "about") %>
