<div id="contact">
  <ul>
    <li><%= image_tag("phone.png", :alt => "Call me") %> 614-905-1015</li>
    <li><div id="contact-form"><%= image_tag("email.png", :alt => "Email me") %> ackerman.ro@gmail.com</div></li>
  </ul>
  <div id="hidden-form"></div>
</div>
