<div id="welcome"><h1>Hello</h1></div>
<div id="blog">
  <p>If you're here for my Blog <%= link_to 'click here', controller: 'articles' %>. My blog is my personal blog and as such may not pertain to professional endeavors.</p>
</div>
<div id="about">
  <h1>About Me:</h1>
  <div id="about-left"></div>
  <div id="about-right"></div>
</div>
<div id="portfolio">
  <h1>Portfolio</h1>
</div>
<div id="resume">
  <p>TODO: Make resume available for download, both PDF and .docx</p>
</div>
