<% title 'Portfolio' %>
<% description 'RC Ackerman is a web developer specializing in PHP and Ruby. Click here to find a list of his projects.' %>
<% keywords 'RC Ackerman webdev developer php ruby portfolio' %>
<% set_meta_tags :author => "https://plus.google.com/+RCAckerman" %>

<%= render 'welcome/border' %>
<%= link_to(root_path) do %>
  <div id="home-button"> <- Home</div>
<% end %>

<div id="alt_container">
  <p>For now, this website will serve as my current portfolio. This page will be updated at a later date with a github feed, and with any projects that I work on.</p>
</div>
