<div id="contact">
  <p>I am currently accepting freelance work. If you would like a quote for a project, feel free to contact me.</p>
    <table>
      <tr>
        <td><%= image_tag("phone.png", :alt => "Call me") %></td>
        <td>614-905-1015</td>
      </tr>
      <tr id="contact-form">
        <td><%= image_tag("email.png", :alt => "Email me") %></td>
        <td>ackerman.ro@gmail.com</td>
      </tr>
    </table>
</div>
