/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.user_nav{
  
  float: right;
  y-index: 2;
  text-align: right;
}

body{
  font-family: Helvetica, sans-serif;
}

#h-bar {
  width: 100%;
  height: 150px;
  background-color: #000;
  z-index: 1;
  opacity: .6;
}

#v-bar {
  width: 200px;
  height: 100%;
  background-color: #000;
  z-index: 2;
  opacity: .6;
  position: absolute;
  top: 0px;
}

#v-bar div {
  color: #fff;
  opacity: 1;
  font-size: 7.9em;
  font-weight: bold;
  text-align: left;
  background-repeat: repeat-y;
}

#h-bar div {
  color: #fff;
  font-size: 7.9em;
  font-weight: bold;
  text-align: left;
}

.container {
  margin-left: 200px;
  max-width: -moz-calc(100% - 200px);
  max-width: -webkit-calc(100% - 200px);
  max-width: calc(100% - 200px);
}

#home-button {

  display: none;
  cursor: pointer;
  padding: 0 8px;
  max-width: 70px;
  height: 30px;
  float:left;
  line-height: 30px;

  font-weight: bold;
  margin-left: 210px;
  background-color: #000;
  color: #fff;

  //The below adds the rounded corners on the bottom
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

#alt_container {
  margin-top: 40px;
}

#alt_container p{
  margin-left: 10px;
}

#alt_container ol, #alt_container ul{
  margin-left: 30px;
}
