// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#alt_container {
  margin-top: 150px;
  margin-left: 200px;
}

#alt_container h1 {
  margin-left: 10px;
}

#alt_container form {
  margin-left: 20px;
}
